<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Survey</title>
</head>
<body>
    <h1>Midterm Survey</h1>

    <form method="post" action="#">

        <label>Name
            <input type="text" name="name" value="{{ @name }}">
        </label>
        <check if="{{ @errors['name']}}">
            <span>{{ @errors['name'] }}</span>
        </check><br>

        <p>Check all that apply:
            <check if="{{ @errors['answers'] }}">
                <span>{{ @errors['answers'] }}</span>
            </check><br>
            <repeat group="{{ @answers }}" value="{{ @answerOption }}">
                <label><input type="checkbox" name="ans[]" value="{{ @answerOption }}"
                    <check if="{{ !(empty(@ans)) && in_array(@answerOption, @ans) }}">
                        checked
                    </check>>{{ @answerOption }}</label><br>
            </repeat>
        </p>
        <input type="submit" value="Submit">
    </form>
</body>
</html>