<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Survey</title>
</head>
<body>
    <h1>Midterm Survey</h1>
    <label>Name
        <input id="name" name="name">
    </label>

    <p>Check all that apply:
        <check if="{{ @errors['option'] }}">
            <span class="err">{{ @errors['cond'] }}</span>
        </check><br>
        <repeat group="{{ @questions }}" value="{{ @question }}">
            <label><input type="checkbox" name="questions[]" value="{{ @question }}"
                <check if="{{ !(empty(@question)) && in_array(@question, @questions) }}">
                    checked
                </check>
                >{{ @question }}</label><br>
        </repeat>
    </p>
    <input type="submit" value="Submit">
</body>
</html>